@import "tailwindcss";

:root {
  --foreground: #0a0a0a;
  --background: #ededed;

  /* used colors */

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pinkDark: #7b1330;
  --pinkLight: #d10138;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  /* navbar area colors */

  --navbar-surface: #31261d;
  --navbar-overlay: rgb(0 0 0 / 50%);
  --navbar-accent: #fcd34d;
  --navbar-accent-strong: #fbbf24;

  /* responsive breakpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground: black;
    --background: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
